strong {
    color: var(--blue);
}

.completed {
    color: var(--purple);
}

strong span {
    background-color: var(--gray400);
    padding: 0.2rem 0.4rem;
    border-radius: 50%;
    margin-left: 0.5rem;
    font-weight: normal;
    color: var(--white);
    font-size: 0.8rem;
}